<div class="container-test">
	<div class="timeline" id="timeline-container">
		{% for timeline in timelines %}
			<div class="timeline__event animated fadeInUp" data-timeline-index="{{ loop.index }}">

					{% if loop.index is even %}
						<div class="arrow arrow-right" onclick="hideTimeline({{loop.index}})">
							<span></span>
							<span></span>
							<span></span>
						</div>
					{% else %}
						<div class="arrow arrow-left" onclick="hideTimeline({{loop.index}})">
							<span></span>
							<span></span>
							<span></span>
						</div>
					{% endif %}
					<div class="image">
						<img class="timeline_image" src="{{ timeline.image }}" alt="..." />
					</div>
			
				<div class="timeline__event__content" onclick="showTimeline(this)">
					<div class="timeline__event__title">
						{{ timeline.name }}
					</div>
					<div class="timeline__event__description">
						<p>{{ timeline.description }}</p>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
	{% for timeline in timelines %}
		<div class="additional-content mx-5" style="display: none;" data-timeline-index="{{ loop.index }}">
			{% set areaName = 'spline' ~ loop.index %}
			{% set tooltipname = 'tooltip' ~ loop.index %}
			<div class="timeline_additional_content">
			{{ pimcore_areablock(tooltipname, { allowed: ['tooltip-brick'] }) }}
			{{ pimcore_areablock(areaName, { allowed: ['spline-brick', 'algorithm-brick', 'expansion-panel-brick', 'gdvm-brick', 'videoslider-brick', 'customcube-brick'] }) }}
			</div>
			
		</div>
	{% endfor %}
</div>
