<div class="container-test">
	<div class="timeline" id="timeline-container">
		{% for timeline in timelines %}
			<div class="timeline__event animated fadeInUp" data-timeline-index="{{ loop.index }}">
				{% if loop.index is even %}
					<div class="arrow arrow-right" onclick="hideTimeline(this)">
						<span></span>
						<span></span>
						<span></span>
					</div>
				{% else %}
					<div class="arrow arrow-left" onclick="hideTimeline(this)">
						<span></span>
						<span></span>
						<span></span>
					</div>
				{% endif %}
				<div class="image">
					<img class="" src="{{ timeline.image }}" alt="..." style="height: 100%; max-width: 200px; object-fit: cover;"/>
				</div>

				<div class="timeline__event__content" onclick="showTimeline(this)">
					<div class="timeline__event__title">
						{{ timeline.name }}
					</div>
					<div class="timeline__event__description">
						<p>{{ timeline.description }}</p>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
	{% for timeline in timelines %}
		<div class="additional-content" id="additional-content" data-timeline-index="{{ loop.index }}">
			{% set areaName = 'end' ~ loop.index %}
			{{ pimcore_areablock(areaName, { allowed: ['headline-brick', 'subheadline-brick', 'centeredtext-brick', 'spacer-brick'] }) }}
		</div>
	{% endfor %}
</div>
