{% extends 'layout.html.twig' %}
{% block content %}
  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="text-center mb-5">
        <h2 class="section-heading text-uppercase">{{ pimcore_input('allgemeines') }}</h2>
      </div>
      {{ pimcore_areablock('feature', { allowed: ['feature-list-brick'] }) }}
    </div>
  </section>
  <!-- Portfolio Grid -->
  <section class="page-section bg-light" id="portfolio">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">{{ pimcore_input('Schwerpunkte') }}</h2>
        <h3 class="section-subheading text-muted">{{ pimcore_input('SchwerpunkteSubtext') }}</h3>
      </div>
      {{ pimcore_areablock('portfolio', { allowed: ['portfolio-list-brick'] }) }}
    </div>
  </section>
  <!-- Team -->
  <section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      </div>
      {{ pimcore_areablock('team', { allowed: ['team-list-brick'] }) }}
    </div>
  </section>
{% endblock %}
