<section class="page-section" id="team">
    <div class="container">
        {{ pimcore_areablock('headline', { allowed: ['headline-brick', 'subheadline-brick', 'centeredtext-brick', 'spacer-brick'] }) }}
        <div class="row">
            <div id="accordion">
                {% set categories = [
                    {'name': 'Web & Mobile', 'id': 'One'},
                    {'name': 'Grafische Datenverarbeitung', 'id': 'Two'},
                    {'name': 'Medienproduktion', 'id': 'Three'}
                ] %}
                {% for category in categories %}
                    <div class="card">
                        <div class="card-header" id="heading{{ category.id }}">
                            <h5 class="mb-0">
                                <button class="btn btn-link{% if loop.first %} collapsed{% endif %}" data-toggle="collapse" data-target="#collapse{{ category.id }}" aria-expanded="false" aria-controls="collapse{{ category.id }}">
                                    {{ category.name }}
                                </button>
                            </h5>
                        </div>
                        <div id="collapse{{ category.id }}" class="collapse{% if loop.first %} show{% endif %}" aria-labelledby="heading{{ category.id }}" data-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    {% for team in teams %}
                                        {% if team.team == category.name %}
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="team-member">
                                                    <img class="mx-auto rounded-circle" src="{{ team.image }}" alt="..." />
                                                    <h4 class="text-secondary">
                                                        {{ team.firstname }} {{ team.lastname }}
                                                    </h4>
                                                    <p class="text-muted">
                                                        {{ team.team }}
                                                    </p>
                                                    <a class="btn btn-dark btn-social mx-2" href="mailto:{{ team.mail }}">
                                                        <i class="fa-solid fa-envelope"></i>
                                                    </a>
                                                    <a class="btn btn-dark btn-social mx-2" target="_blank" href="{{ team.link }}">
                                                        <i class="fa-solid fa-address-card"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ pimcore_areablock('below', { allowed: ['headline-brick', 'subheadline-brick', 'centeredtext-brick', 'spacer-brick'] }) }}
    </div>
</section>
