<div style="height: 100%; overflow-x: hidden; text-align: center;" class="my-5">
    <div class="slider-container">
        <div class="text-container">
            <p>Hier steht Ihr Text</p>
        </div>
        <div class="slider csslider infinity" id="slider1">
            {% for link in links %}
                <input type="radio" name="slides" {% if loop.index == 1 %}checked="checked"{% endif %} id="slides_{{ loop.index }}" />
            {% endfor %}
            <ul>
                {% for link in links %}
                    <li>
                        <iframe width="100%" height="400px" src="{{ link.getHref() }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </li>
                {% endfor %}
            </ul>
            <div class="arrows">
                {% for link in links %}
                    <label for="slides_{{ loop.index }}"></label>
                {% endfor %}
                <label class="goto-first" for="slides_1"></label>
                <label class="goto-last" for="slides_{{ links|length }}"></label>
            </div>
            <div class="navigation">
                <div>
                    {% for link in links %}
                        <label for="slides_{{ loop.index }}"></label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>