{%  block content %}
<div id="popupContainer">
    <div id="popup">
        {% if not app.session.get('user_logged_in') %}  
            <div id="cover">
                <!-- Sign Up Section -->
                <div class="sign-up">
                    <h3 class="section-heading text-white">{{ pimcore_input('registerHeadline') }}</h3>
                    <p class="text-white">{{ pimcore_input('registerText') }}</p>
                    <button id="signUpButton" class="coverSwitchBtn" onClick="coverLogin()">Registrieren</button>
                </div>
                <!-- Sign In Section -->
                <div class="sign-in">
                    <h3 class="section-heading text-white">{{ pimcore_input('loginHeadline') }}</h3>
                    <p class="text-white">{{ pimcore_input('loginText') }}</p>
                    <br>
                    <button id="signInButton"  class="coverSwitchBtn" onClick="coverRegister()">Einloggen</button>
                </div>
            </div>
            
            <!-- Login Box -->
            <div id="login">
                <h1>Log dich ein</h1>
                <form id="loginForm" method="POST" action="{{ path('login') }}">
                    <input type="email" id="email" placeholder="Email" name="email"><br>
                    <input type="password" id="password" placeholder="Passwort" name="password"><br>
                    <a id="forgot-pass" href="#">Passwort vergessen?</a><br>
                    <input class="submit-btn" type="submit" value="Einloggen">
                </form>
            </div>
            <!-- Register Box -->
            <div id="register">
                <h1>Lege einen Account an</h1>
                <form id="registerForm" method="POST" action="{{ path('register') }}"  enctype="multipart/form-data">
                    <input type="text" placeholder="Name" name="name"><br>
                    <input type="email" placeholder="Email" name="email"><br>
                    <input type="password" placeholder="Passwort" name="password"><br>
                    <input type="password" placeholder="Bestätige das Passwort" name="confirm_password" value="" />
                    <input id="profileimage" type="file" name="profileimage" required autofocus /><br>                                       
                    <input class="submit-btn" type="submit" value="Registrieren">
                </form>
            </div>
        <div id="popupContainerRP">
            <div id="popupRP" class="d-flex flex-column align-items-end justify-content-start">
                <!-- Close Button -->
                <button id="closeButton" type="button" class="btn-close-custom align-self-end" aria-label="Close"></button>
                <!-- Reset Password Box -->
                <div id="containerRP">
                    <div id="resetPassword">
                        <h1 class="text-center">{{ pimcore_input('resetPasswordTitle') }}</h1>
                        <p class="card-text text-center py-2">
                            {{ pimcore_input('resetPasswordText') }}
                        </p>
                        <form id="sendEmailForm" method="POST" action="{{ path('resetPassword') }}" class="text-center">
                            <div class="d-flex justify-content-center">
                                <input type="email" id="email" class="form-control mb-2" placeholder="Email" name="email">
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <input class="btn btn-primary" type="submit" value="Versende den Link">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        </div>
    </div>
</div>

{% else %}
<!-- Logout popup-->
<div class="container d-flex justify-content-center align-items-center">
    <div class="logout-card">
        <div class="upper">
            <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
        </div>
        <div class="user text-center">
            <div class="profile">
                {% if user is defined %}  
                <img src="{{ user.getImage() }}" class="rounded-circle">
                {% endif %}
            </div>
        </div>
        <div class="mt-5 text-center">
            {% if user is defined %}        
            <h4 class="mb-0">{{ user.getUsername() }}</h4>
            <span class="text-muted d-block mb-2">Los Angles</span>       
            <div class="d-flex justify-content-between align-items-center mt-4 px-4">       
                <div class="stats">
                    <h6 class="mb-0">Followers</h6>
                    <span>8,797</span>       
                </div>
                <div class="stats">
                    <h6 class="mb-0">Projects</h6>
                    <span>142</span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Ranks</h6>
                    <span>129</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if app.session.get('user_logged_in') %}  
    <a href="{{ path('logout') }}" class="btn"><i class="fa-solid fa-sign-out fa-lg"></i></a>
{% endif %}
{% endif %}
{% endblock %}